$viewpoint-alpha: 0.6;
$viewpoint-1-color: rgba(57, 28, 30, $viewpoint-alpha);
$viewpoint-2-color: rgba(0, 255, 255, $viewpoint-alpha);
$viewpoint-3-color: rgba(52, 0, 88, $viewpoint-alpha);
$viewpoint-4-color: rgba(255, 255, 0, $viewpoint-alpha);
$viewpoint-5-color: rgba(0, 255, 0, $viewpoint-alpha);
$viewpoint-6-color: rgba(255, 0, 0, $viewpoint-alpha);
$viewpoint-7-color: rgba(0, 0, 255, $viewpoint-alpha);
$viewpoint-8-color: rgba(255, 0, 127, $viewpoint-alpha);
$viewpoint-9-color: rgba(255, 128, 0, $viewpoint-alpha);
$viewpoint-10-color: rgba(255, 44, 12, $viewpoint-alpha);
$viewpoint-11-color: rgba(44, 62, 80, $viewpoint-alpha);
$viewpoint-12-color: rgba(15, 42, 63, $viewpoint-alpha);
$viewpoint-13-color: rgba(237, 158, 163, $viewpoint-alpha);
$viewpoint-14-color: rgba(253, 219, 168, $viewpoint-alpha);
$viewpoint-15-color: rgba(82, 0, 13, $viewpoint-alpha);
$viewpoint-16-color: rgba(255, 0, 255, $viewpoint-alpha);
$viewpoint-17-color: rgba(255, 13, 255, $viewpoint-alpha);
$viewpoint-18-color: rgba(231, 76, 60, $viewpoint-alpha);
$viewpoint-19-color: rgba(103, 62, 58, $viewpoint-alpha);
$viewpoint-20-color: rgba(153, 153, 0, $viewpoint-alpha);